// =============================================================================
// STENCIL
// =============================================================================


// Tools
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's toolkit for use.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/tools/toolkit"; // 1
@import "tools/tools";

// Settings
// -----------------------------------------------------------------------------
//
// 1. Stencil global settings get imported first.
// 2. Import all Citadel and Foundation settings.
// 3. Common aria helpers.
// 4. Import Stencil's component settings overrides.
// 5. Import tools which set/reset Citadel's global settings, to be consumed by
//    the rest of Stencil.
// 6. Import Citadel's version of foundation.
//      - This enables the ability to "null" variables in the Stencil settings.
//
// -----------------------------------------------------------------------------

@import "settings/global/global"; // 1

@import "../../node_modules/@bigcommerce/citadel/dist/settings/global/global"; // 2

@import "settings/global/tools"; // 5

@import "../../node_modules/@bigcommerce/citadel/dist/settings/normalize/normalize"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/foundation/foundation"; // 2
@import "../../node_modules/@bigcommerce/citadel/dist/settings/bigcommerce/bigcommerce"; // 2

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/foundation/foundation"; // 6

@import "settings/normalize/normalize"; // 4
@import "settings/vendor/vendor"; // 4
@import "settings/foundation/foundation"; // 4
@import "settings/citadel/citadel"; // 4
@import "settings/stencil/stencil"; // 4
@import "settings/layouts/layouts"; // 4


// Utilities
// -----------------------------------------------------------------------------

@import "utilities/utilities";
@import "../../node_modules/@bigcommerce/citadel/dist/utilities/utilities";


// Components
// -----------------------------------------------------------------------------
//
// 1. Import Citadel's normalize dependency.
// 2. Import Citadel's components.
// 2. Import Stencil's component additions and custom components.
//
// -----------------------------------------------------------------------------

@import "../../node_modules/@bigcommerce/citadel/dist/vendor/normalize/normalize"; // 1
@import "../../node_modules/@bigcommerce/citadel/dist/components/components"; // 2
@import "common/index"; // 3
@import "components/components"; // 6


// Layouts
// -----------------------------------------------------------------------------
//
// 1. Stencil design layout files (example: Header or Footer).
//
// -----------------------------------------------------------------------------

@import "layouts/layouts"; // 1


// Monir web developer


// product title
.card-title {
	font-size: 20px;
	margin: 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	padding: 0 0;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	font-weight: 600;
	text-transform: capitalize;
	width: 60%;
	width: 100% !important;
	/* display: block; */
}
.card-title > a {
	color: #333;
	font-size: 20px;
	font-weight: 400;
	display: block;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-transform: capitalize;
	padding-bottom: 1px;
	white-space: normal;
	font-size: 14px;
}
.price {
	text-align: center !important;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0;
	color: black;
	font-size: 14px;
}

#bc-carousel-container-4c1537fc-dba0-4aa7-9ce8-c37c3d330890 {
	display: none;
}

@media only screen and (max-width: 600px) {
  #bc-carousel-container-4c1537fc-dba0-4aa7-9ce8-c37c3d330890 {
	display: block;
}
.heroCarousel.slick-initialized.slick-slider {
	display: none;
}
.css-15nrlmu.bc-carousel__bullet {
	margin-top: -27px;
	width: 8px;
	height: 8px;
	background: none;
	border: 1px solid #fff !important;
}
}

.guia-de-tallas .col-md-12 {
	padding-left: 0px !important;
}
.row.guia-de-tallas {
	padding: 0 1.5rem;
}
.custom_footer_logo {
	width: 50%;
	margin-bottom: 10px;
}

// Agregado para videos por sphere 
.productView-thumbnail {
    width: 120px; 
    height: 120px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.productView-thumbnail-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.productView-thumbnail[data-video="true"] img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px; 
}

/*  imágenes de miniatura  */
.productView-thumbnail img {
    max-width: 100%;
    max-height: 100%;
}

/*categorias*/

/* Contenedor principal con más margen */
.category-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 40px;
}

/* Contenedor de la imagen  */
.category-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%; 
    padding: 10px; 
}

/* Imagen  */
.category-image-large {
    width: auto;
    max-width: 100%;
    height: 450px; 
    object-fit: cover;
}

/* imagen en pantallas grandes */
@media (min-width: 1200px) { 
    .category-image-large {
        height: 500px; 
    }
}

/* Contenedor de la descripción y subcategorías */
.category-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
/* Contenedor principal */
.category-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    margin-bottom: 40px; 
    border: 2px solid #ececec;
    border-radius: 10px; 
    // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título de la categoría */
.category-title {
    font-size: 36px; 
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
	margin-top: 5px;
}

/* título aún más grande en pantallas grandes */
@media (min-width: 1200px) { 
    .category-title {
        font-size: 42px; 
    }
}
/* imágenes de subcategorías */
.subcategory-item img {
    width: 100%;
    max-width: 120px; /* Reducimos el tamaño */
    height: auto;
}

/* En pantallas grandes, */
@media (min-width: 1200px) {
    .subcategory-item img {
        max-width: 130px;
    }
}

/* Contenedor de subcategorías: Alineación correcta */
.subcategories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinea a la izquierda */
    align-items: flex-start; /* Evita que bajen demasiado */
    padding-top: 10px;
    gap: 15px; /* Reduce el espacio entre las filas */
}

